@charset "UTF-8";

@media screen and (min-width: 780px){
    body{
        background: linear-gradient(to bottom, #5F2C82, #4B959A);
    }

    main{
        margin-top: 20vh;
        width: 80vw;
        height: 290px;
    }

    div#img{
        float: left;
        width: 31%;
        height: 100%;
    }

    article{
        float: right;
        width: 69%;
    }

    main>article p#login, p#senha{
        text-align: left;
        width: 94%;
        height: 10%;
    }

    article #iemail, #isenha{
        width: 90%;
    }

    article #entrar{
        width: 95%;
    }

    article #esqueci{
        width: 90%; 
    }
}


@media screen and (min-width: 1050px) {
    main{
        margin-top: 23vh;
        width: 949px;
        height: 350px;
    }

    div#img{
        float: right;
        width: 50%;
        height: 100%;
    }

    article {
        float: left;
        width: 50%;
    }

    article h2{
        text-align: center;
        padding: 10px;
        font-size: 2em;
    }

    article p#text{
        padding: 10px;
        font-size: 1em;
        padding-left: 1px;
    } 
}

